
*{padding: 0;margin: 0;}

/*
#box #ui-id-1 {overflow:hidden;width:480px;
    border: solid 1px grey;border-bottom-style: none;}*/

body {padding: 50px 0 200px 200px; }
.box {border: 1px solid green;width: 980px;margin: 20px;padding: 20px;height: 600px;}
.faceimg {display: inline-block; width: 60px;height: 60px;}
.fcon {width: 12px;height: 12px;margin-right: 5px;}

.tediv {margin-left:10px;display: inline-block;}
.compName {padding: 5px 0;}
.discrip {font-size: 0.8em;}
.tediv .tsp {margin-right:15px;font-size: 0.8em;color: gray;}
section.ui-menu-item {height: 75px;overflow:hidden ;
    border-bottom: solid 1px grey;
}
#lastsec{text-align: center;height: 40px; padding-top:20px;background: silver;color: gray;
    }
.firstsec {height: 20px;text-align: left;padding:15px;border-bottom: solid 1px grey;}
.mark {color: red;}

#cacheRe:nth-last-child(1){width:480px;}

#inp {border-radius: 2px;border: 1px solid grey;width: 250px;height: 40px;
    padding: 0 10px;
    font-size: 1.2em;
    background: url("../imgs/fcon1.png") no-repeat 98%;
    background-size:16px,16px;
}
#inp::-webkit-input-placeholder {font-size: 0.6em; text-align:right; display:inline-block;padding:3px 15px 0 0;}
#inp::-moz-placeholder {font-size: 0.6em; text-align:right; display:inline-block;padding:3px 15px 0 0;}