*{padding: 0;margin: 0;}
title {font: Comic Sans; padding:50%;}
a {outline: none; text-decoration: none;}
body {font: 20px/1.5 arial}
.box {width: 720px; margin: 0 auto;}
header.hd {margin-top: 30px;margin-bottom: 15px; padding: 5px;
    border: 1px dashed #ffffff; text-align: center; background: #008000; color: #fff;}
header.sh {margin-top: 10px;color: #ff9900; font: 15px}
header h3.hh3 {color: #ff9900;}
header p.cat {font-size: 80%;margin-bottom: 5px;}
h3 h1 {margin: 10px 0;}
.row div { float: inherit;}
.box section article#list {margin: 5px 5px 5px 0px; padding: 5px;border: 1px solid darkgreen;}
.box section article#list ol li {margin: 5px 5px 5px 35px; color:#ff9900; font-weight: bold}
.box section article#list ol p {padding: 5px;border: 1px hidden ; margin: 5px,5px,25px,15px;background-color: #CFEFDF;}
footer.fc {text-align: right; font-size: 80%; margin-right: 20px;}
footer.fr {text-align: center; font-size: 50%;margin-bottom: 10px;}
.index {margin-left: 20px;}
/*
.ft {margin-top: 5px;color:#ff9900; font-weight: bold}
.tl {margin: 10px 30px }
.ft a{color:green;font-weight:bold}
.olm {padding-left: 35px; padding-top:5px; padding-bottom: 35px}
*/
